{% extends "vet/base_p.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Carrito de Compras{% endblock title %}

{% block contenido %}

    {% csrf_token %}
    {% crispy form %}

{% endblock contenido %}

{% block script %}
    <script src="{% static 'vet/js/carrito_login_jq.js'%}"></script>
    <script src="{% static 'vet/js/carrito_login.js'%}"></script>
    <script src="{% static 'vet/js/registro2.js'%}"></script>
    

{% endblock script %}     
        
        
    