{% extends "vet/base_p.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} home {% endblock title %}
{% block contenido %}
<div class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Elija a su nuevo auto</h1>
            <p class="lead fw-normal text-white-50 mb-0">le aseguramos que encontrara uno!</p>
        </div>
    </div>
</div>
<!-- Section-->
<div class="row">
    <div class="col-md-2 col-sm-12 py-5 px-2">
        <div class="card ">
            <div class="card-header">
                <h5>Filtros</h5>
            </div>
            <div class="card-body">
                <form method="get">
                    {% crispy filter_form %}
                </form>
            </div>
        </div>
    </div>
<section class="py-5 col-md-10">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% if productos %}
                {% for p in productos %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ p.foto.url }}" alt="{{ p.nombre }}" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ p.nombre }}</h5>
                                ${{ p.precio }}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href='{% url "detalle_producto" p.id %}'>Ver producto</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-12 text-center">
                    <p>No hay productos disponibles.</p>
                </div>
                {% endif %}
        </div>
    </div>
</section>
</div>
{% endblock contenido %}
{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var rangeInput = document.getElementById('priceRange');
        var priceMin = document.getElementById('priceMin');
        var priceMax = document.getElementById('priceMax');
        var minInput = document.getElementsByName('precio_min')[0];
        var maxInput = document.getElementsByName('precio_max')[0];
        var initialMinValue = minInput.value || 0;
        var initialMaxValue = maxInput.value || 200000;

        rangeInput.addEventListener('input', function() {
            var value = rangeInput.value;
            priceMin.innerHTML = 0;
            priceMax.innerHTML = value;
            minInput.value = 0;
            maxInput.value = value;
        });

        rangeInput.value = initialMaxValue;
        rangeInput.dispatchEvent(new Event('input'));
    });
</script>
{% endblock script %}

