{% extends "vet\base_admin.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block stilos %} {% endblock stilos %}
{% block title %} reclamos_admin {% endblock title %}
{% block contenido %}

<h2 class="text-center">Lista de reclamos</h2>


<div class="container-fluid">
  <a class="btn btn-primary " data-bs-toggle="offcanvas" href="#canvas_filtro" role="button" aria-controls="canvas_filtro">
    Filtro
  </a>
<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Usuario</th>
              <th>Tipo</th>
              <th>Estado</th>
              <th>Fecha de Creación</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for reclamo in reclamos %}
          <tr>
              <td>{{ reclamo.usuario }}</td>
              <td>{{ reclamo.get_tipo_display }}</td>
              <td>{{ reclamo.get_estado_display }}</td>
              <td>{{ reclamo.fecha_creacion }}</td>
              <td>
                  <!-- Aquí puedes agregar enlaces o botones para acciones relacionadas con el reclamo -->
                  <!-- Por ejemplo, editar el reclamo, ver detalles adicionales, etc. -->
                  <a href='{% url "Revision_estado" reclamo.boleta.id %}' role='button' class="btn btn-success border">Ver boleta</a>
                  <a href='{% url "revision_reclamo" reclamo.id %}' role='button' class="btn btn-success border">Revision</a>
              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="7">No hay reclamos disponibles.</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
</div>
<!--Función para ver el filtro usuario-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="canvas_filtro" aria-labelledby="canvas_filtro">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="canvas_filtroLabel">puede filtrar por </h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <form method="get">
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Filtrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block script %}
<script src="{% static 'vet/js/usuario_adm_js.js'%}"></script>
{% endblock script %}   



      
  